.experience-card {
  background-color: #1848488d !important;
  border-color: #f1f7f7 !important;
  margin-bottom: 50px;
  color: #F1FADA;
}

.experience-card-imagen img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.experience-card-title {
  flex: 1;
}

.experience-title {
  color: #a8c030;
  margin-right: 20px;
}
.experience-company {
  color: #fff;
  margin-right: 20px;
}
.experience-info {
  color: #9AD0C2;
  margin-right: 20px;
}


.experience-portfolio-imagen img {
  width: 200px;
  height: auto;
  align-items: center;
  align-self: 'center';
  margin-left: 20px;
}

.experience-portfolio-imagen2 img {
  width: 600px;
  height: auto;
  align-items: center;
  align-self: 'center';
}


.btn-experience {
  color: #fff !important;
  background-color: #184848 !important;
  border-color: #184848 !important;
}
.btn-experience:hover {
  color: #fff !important;
  background-color: #184848 !important;
  border-color: #184848 !important;
}
.btn-experience:focus {
  outline: none !important;
  box-shadow: none !important;
}

.row {
  display: "flex";
  align-items: "center";
}
.flex {
  flex: 1;
}
