.experience-card-view {
  box-shadow: #184848!important;
  color: #f0f0d8 !important;
  background-color: #006060 !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.experience-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: #184848 !important;
}
.card-img-company {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 20px !important;
}
.card-title {
  color: #a8c030;
}
.btn-experience {
  color: #fff !important;
  background-color: #184848 !important;
  border-color: #184848 !important;
}
.btn-experience:hover {
  color: #fff !important;
  background-color:#184848 !important;
  border-color: #184848 !important;
}
.btn-experience:focus {
  outline: none !important;
  box-shadow: none !important;
}
